.page-title
  %h1 Wines
  = link_to 'Add New Wine', new_wine_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Name
      %th Type
      %th Price
      %th Url
      %th Actions
  %tbody
    - @wines.each do |wine|
      %tr
        %td= wine.id
        %td= wine.name
        %td= wine.wine_type
        %td= number_to_currency(wine.retail_price_in_dollars)
        %td= wine.url
        %td
          = link_to 'Edit', edit_wine_path(wine)
